<h1>Menus for <%= @chef.name %></h1>
<%= link_to 'Add New Menu', new_chef_menu_path(@chef), class: 'btn btn-primary' %>

<% @menus.each do |menu| %>
  <div>
    <h3><%= link_to menu.title, chef_menu_path(@chef, menu) %></h3>
    <p><%= menu.description %></p>
    <p>Price: <%= number_to_currency(menu.price) %></p>
    <%= link_to 'Edit', edit_chef_menu_path(@chef, menu), class: 'btn btn-secondary' %> |
    <%= link_to 'Delete', chef_menu_path(@chef, menu), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
<% end %>
