<%= render "shared/banner" %>

<div class="chefs-grid">
  <% @chefs.each do |chef| %>
    <div
      class="chef-card"
      data-controller="chef-card"
      onclick="window.location.href='<%= chef_path(chef) %>'"
>
      <div class="chef-image">
        <%= image_tag "Chef_Stef.jpeg" %>
      </div>
      <div class="chef-info">
        <h3><%= chef.name %></h3>
        <p><%= chef.specialties %></p>
      </div>
    </div>
  <% end %>
</div>
