<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4"><%= @user.name %>'s Profile</h1>
  </div>
<% if @is_chef %>
  <p><strong>Specialties:</strong> <%= @user.specialties %></p>
  <p><strong>Biography:</strong> <%= @user.biography %></p>
  <p><strong>Location:</strong> <%= @user.location %></p>

  <h2>Your Menus</h2>
  <% if user_signed_in? && current_user == @user %>
    <%= link_to 'Add New Menu', new_user_menu_path(@user), class: 'btn btn-success mb-3' %>
  <% end %>
  <ul>
    <% @menus.each do |menu| %>
      <li>
        <strong><%= menu.title %></strong>: <%= menu.description %> - <%= number_to_currency(menu.price) %>
        <% if user_signed_in? && current_user == @user %>
          <%= link_to 'Edit', edit_user_menu_path(@user, menu), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete', user_menu_path(@user), method: :delete, data: {turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2>Menus</h2>
  <ul>
    <% @menus.each do |menu| %>
      <li>
        <strong><%= menu.title %></strong>: <%= menu.description %> - <%= number_to_currency(menu.price) %>
        <% if current_user.client? %>
          <%= simple_form_for [@user, menu, Booking.new], url: user_menu_bookings_path(@user, menu), method: :post do |f| %>
            <div class="form-group">
              <%= f.input :date, as: :date, label: 'Select Date', input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.input :time, as: :time, label: 'Select Time', input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.input :notes, as: :text, label: 'Additional Notes', input_html: { class: 'form-control', rows: 3 } %>
            </div>
            <%= f.submit 'Book This Menu', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

</div>
