<script>
document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar-top");
    const map = document.getElementById("container-map");

    navbar.addEventListener("mouseenter", () => {
        map.style.display = "block";
    });

    const hideMap = () => {
        const isOverNavbar = navbar.matches(":hover");
        const isOverMap = map.matches(":hover");

        if (!isOverNavbar && !isOverMap) {
            map.style.display = "none";
        }
    };

    navbar.addEventListener("mouseleave", hideMap);
    map.addEventListener("mouseleave", hideMap);
});
</script>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-home_chef.jpg" %>
    <% end %>

    <form class="d-flex mx-auto" role="search" style="max-width: 500px; width: 100%; border-radius: 8px;" method="get" action="<%= users_path %>">
      <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search" style="border-radius: 8px;">
      <select class="form-control me-2" name="specialty" style="border-radius: 8px;">
        <option value="">--Sélectionnez une spécialité--</option>
        <% @specialties.each do |specialty| %>
          <option value="<%= specialty %>"><%= specialty %></option>
        <% end %>
      </select>
      <button class="btn btn-outline-success" type="submit" style="border-radius: 8px;">Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "Chef_profile.jpg", class: "avatar-img", alt: "dropdown menu" %>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.chef? %>
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <% elsif current_user.client? %>
                <span class="dropdown-item disabled"><%= current_user.name %></span>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div id="container-map">
  <div
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" id="map-display">
  </div>
</div>
